dist: trusty
sudo: false
language: ruby

rvm:
  -2.2.0

services:
  -mysql

add-ons: 
  apt:
    sources:
      -ubuntu-sdk-team
    packages:
      -libqt5webkit5-dev
      -qtdeclarative5-dev

before_script:
  -rake db:create
  -rake db:migrate
  -rake db:fixtures:load FIXTURES_PATH=spec/fixtures

script:
  -xvfb-run bundle exec rspec spec/features/*.rb
