dist: trusty
sudo: false
language: ruby

rvm:
  - 2.2.0

matrix:
  include:
    - rvm: 2.2.0
      env: DB=mysql
    - rvm: 2.2.0
      env: DB=mysql57
    exclude:
    - rvm: 2.2.0
      addons:
        mariadb: '10.0'
      env: DB=mariadb
      gemfile: gemfiles/Gemfile.maria

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install ghostscript
  - sudo apt-get install graphviz
  - bash .travis_setup.sh

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:fixtures:load FIXTURES_PATH=spec/fixtures

script:
  - xvfb-run bundle exec rspec spec/features/

branches:
  only:
    - master
    - ui-design
    - fromthepage.com
    - indianapolis