dist: trusty
sudo: require
language: ruby

cache: bundler

rvm:
  - 2.2.0

services:
  - mysql

add-ons: 
  apt:
    sources:
      - ubuntu-sdk-team
    packages:
      - libqt5webkit5-dev
      - qtdeclarative5-dev

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:fixtures:load FIXTURES_PATH=spec/fixtures

script:
  - xvfb-run bundle exec rspec spec/features/


after_script:
  - git ls-files -o --exclude=vendor/bundle/ --exclude=tmp/cache/ --exclude public/assets/