dist: trusty
sudo: false
language: ruby

cache: bundler

rvm:
  - 2.2.0
  
services:
  - mysql

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install ghostscript
  - sudo apt-get install graphviz
  - sudo apt-get install libqt5webkit5-dev
  - sudo apt-get install qtdeclarative5-dev

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:fixtures:load FIXTURES_PATH=spec/fixtures

script:
  - xvfb-run bundle exec rspec spec/features/
